---
import Section from "../Section.astro";
import Skills from "@/components/sections/Skills.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section title="Sobre mí">
    <p>
        {summary}
    </p>

    <Skills />
</Section>

<style>
  p {
    text-align: inherit;
  }
</style>