---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import ModalInformation from "@/components/common/modal.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
    <main>
        <ThemeIcon />
        <ModalInformation />
        <Hero />
        <About />
        <Experience />
        <Education />
        <Projects />
    </main>

    <KeyboardManager />
</Layout>

<style>
    body {
        overflow: scroll; /* o 'auto' */
        scrollbar-width: none; /* Firefox */
    }

    body::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }

    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }

    @media (width <= 700px) {
        main {
            padding: 2rem;
        }
    }
</style>
